langchain
python-dotenv
ipykernel
langchain_community
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-google-genai
langchain-gemini
python-dotenv
google-generativeai
langchain_openai
langchain_huggingface
sentence-transformers
faiss-cpu
chromadb
langchain_chroma
streamlit
fastapi
langserve
unicorn
langchain_groq
sse-starlette